<div class="row">
    {{#each data}}
    <div class="col col-3 m-5">
        <div class="product">
            <div class="product_image"><img src="{{foto}}" style="width: 350px; height: 400px;"></div>
            <div style="text-align: center;">{{nombre}}</div>
            <div class="product_content">
                <a href="/compras/{{_id}}">
                    <div class="product_buttons">
                        <div
                            class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                            <div align="center">
                                <div><img src="/images/cart.svg" class="svg">
                                    <div>+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>