<div style='margin-top: 10%;'>
<div class="alert alert-success" role="alert">
  <p> El resgistro de {{nombre}} fue exitosa.</p>
   <p>  Disfruta tu perfume :D </p>
</div>
<a class="btn btn-primary" href="/" role="button">Inicio</a>
</div>